* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* all buttons span and img icon colors and size  */



.brand-riser {
    margin-left: 65px;
  /* position: relative;
  display: inline-block; */
}

/* .underline {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 6px;
  background: #f59e0b;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
} */

/* Header */
.header {
  background-color: #FFFFFF;
  padding: 10px;
}

.inner-header {
  background-color: black;
    width: 100%;
    border-radius: 12px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.navbar-logo {
  font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-menu {
  display: flex;
    list-style: none;
    gap: 32px;
}

.navbar-menu li a {
 color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #F5BF21;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button {
  text-decoration: none;
    background-color: #F5BF21;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 5px 5px 15px;
}

.navbar-button:hover {
  background-color: #FFFFFF;
}

.navbar-button span {
  background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-button span img {
  width: 24px;
    height: 24px;
}




/* Mobile Menu Toggle Button */
.menu-toggle {
  display: none; /* Hidden by default, shown on smaller screens */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1001; /* Above other navbar elements */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}

/* Animation for menu toggle icon */
.menu-toggle.is-active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



/* navbar complete at this line */


.btn--secondary {
    text-decoration: none;
    background-color: #F5BF21;
    color: #1a202c;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 5px 5px 15px;
    margin: 50px 0px;
}

.btn--secondary:hover{
  background-color: #FFFFFF;
}

.btn--secondary span {
  background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn--secondary span img {
  width: 24px;
    height: 24px;
}



/* Icon */
.icon {
  width: 1em;
  height: 1em;
  margin-left: 0.4em;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 55px;
    gap: 4rem;
}

.hero__left {
  width: 70%;
}

.hero__title {
    font-size: 105px;
    font-weight: 800;
    line-height: 1;
    color: #FFFFFF;
    position: relative;
    bottom: 15px;
    margin-top: 60px;
}


/* Typography Helpers */
.highlight {
  color: #F5BF21;
}

.head-badge-left {
  background-color: #F5BF21;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    left: 124px;
    bottom: 124px;
    transform: rotate(5.29deg);
    /* animation: zoomFade 1.5s ease forwards;
    animation-delay: 1s; */
    /* animation: floatBadge 2s ease-in-out infinite; */
}

.badge-right{
   background-color: #F5BF21;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    right: -755px;
    bottom: 124px;
    transform: rotate(-5.29deg);
    /* animation: zoomFade 1.5s ease forwards;
    animation-delay: 1s; */
    /* animation: floatBadge 2s ease-in-out infinite; */
}

.head-badge-left .badge-right p {
  font-size: 16px;
  font-weight: 400px;
  color: #000;
  
}

/* @keyframes floatBadge {
  0% { transform: rotate(5deg) translateY(0); }
  50% { transform: rotate(6deg) translateY(-5px); }
  100% { transform: rotate(5deg) translateY(0); }
} */


.hero__subtitle {
  font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 15px;
    /* margin-top: 100px; */
}

.hero__description {
  font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
  max-width: 400px;
}

/* Hero Right */
.hero__right {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.ceo-image {
  width: 680px;
    position: relative;
    left: 25px;
    /* animation: zoomFade 1.5s ease forwards;
    animation-delay: 1s; */
}

@keyframes zoomFade {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ceo-card {
   position: absolute;
    bottom: 80px;
    right: 429px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    width: 260px;
    height: auto;
    cursor: pointer;
    /* animation: slideUpFade 1.5s ease forwards;
    animation-delay: 1.6s; */
}



/* @keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

.ceo-card__title {
  color: #000;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin-bottom: 0.5rem;
    padding: 5px 10px;
}

.card-title-icon{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.ceo-card-icon{
  width: 40px;
    height: 40px;
    background-color: #F5BF21;
    border-radius: 50%;
    align-items: center;
    display: flex
;
    justify-content: center;
}

.ceo-card-icon img{
      width: 24px;
    height: 24px;
}

.ceo-card__name {
  color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.ceo-card__actions {
  display: flex;
    justify-content: flex-start;
    /* gap: 10px; */
    align-items: center;
}

.ceo-btn-1 {
    background-color: #F5BF21;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
}

.ceo-btn-1:hover{
  background-color: #000000;
    color: #FFFFFF;
}

.ceo-btn-2 {
  font-size: 14px;
  color: #A6A6A6;
  text-decoration: none;
      margin-left: 10px;
}

.ceo-btn-2:hover {
  color: #f5bf21;
}

.card-bottom-angle {
    position: relative;
    top: 660px;
    right: 450px;
}


.card-bottom-angle .cd-circle {
       position: relative;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-bottom-angle .cd-btm-2 {
  /* position: relative;
  right: -10px; */
  z-index: 900;
}
.card-bottom-angle .cd-btm-3 {
  position: relative;
  right: 13px;
   animation: blink 1s infinite;
  z-index: 1000;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.card-bottom-angle .cd-btm-1 {
  width: 40px;
}

/* complete header and hero section at this line*/

/* Trusted By Section */
/* .trusted-section {
  
} */

.trusted-label {
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    border-radius: 40px;
    padding: 0px 0px 30px 0px;
}



/* Logo Carousel Container */
.logo-carousel {
  overflow: hidden;
  position: relative;
  background-color: #f5f7fa;
  padding: 60px 0;
}

/* Track with moving logos */
.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  gap: 60px;
  align-items: center;
}

/* Logo Style */
.logo-track img {
  max-height: 80px;
  max-width: 120px;
  object-fit: contain;
  /* opacity: 0.8; */
  transition: all 0.3s ease;
}

.logo-track img:hover {
  filter: none;
  /* opacity: 1; */
  transform: scale(1.3);
}

/* for logo animations  */

.logo-slider {
  width: 100%;
  /* overflow: hidden;
  padding: 30px 0; */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


 /* End of Logo Trusted Section */


/* Foundation Section */
.foundation-section {
  height: 760px;
    background-color: #FFFFFF;
    text-align: center;
}


.foundation-heading {
  font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000000;
    padding-top: 40px;
}

.foundation-subheading {
 font-size: 16px;
    max-width: 720px;
    margin: 0 auto;
    color: #4b5563;
    line-height: 1.5;
}

.foundation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding-top: 40px;
}
 .foundation-card {
    flex: 1 1 300px;
    padding: 34px;
    border-radius: 16px;
    background-color: #f5f7fa;
    color: #070707;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .foundation-card:hover {
    background-color: #111827;
    color: #ffffff;
    transform: translateY(-5px);
  }

  .foundation-card h3 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
    transition: color 0.3s ease-in-out;
  }

  .foundation-card p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7;
    padding-top: 20px;
    transition: color 0.3s ease-in-out;
  }

  .foundation-card:hover h3,
  .foundation-card:hover p {
    color: #ffffff;
  }

  /* Icon Box */
  .icon-box {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
  }

  .icon-box img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }

  .icon-white {
    opacity: 1;
    z-index: 2;
  }

  .icon-black {
    opacity: 0;
    z-index: 1;
  }

  .foundation-card:hover .icon-box {
    background-color: #ffffff;
  }

  .foundation-card:hover .icon-white {
    opacity: 0;
  }

  .foundation-card:hover .icon-black {
    opacity: 1;
  }

/* End of Foundation Section */

/* Services Section */

.services-section {
  padding: 70px 0px;
  background-color: #ffffff;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.services-text {
  flex: 1 1 500px;
  text-align: center;
}

.services-text h2 {
  font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.services-text p {
 font-size: 20px;
    color: #000000;
    margin-top: 15px;
  
}

.see-more-btn {
      display: inline-flex;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 25px;
}


.see-more-btn:hover {
  background-color: #F5BF21;
  color: #000000;
}

.see-more-btn span {
  background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.see-more-btn span img {
  width: 24px;
    height: 24px;
}

.services-image {
  flex: 1 1 400px;
  text-align: center;
}

.services-image img {
  max-width: 100%;
  height: auto;
}

/* End of Services Section */


/* Extensions Section */
.extension-section {
  padding: 80px 0px 100px 0px;
  background-color: #ffffff;
}


.extension-heading {
  font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.extension-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* sirf 2 box per row */
  gap: 24px;
  padding-top: 60px;
}


.extension-card {
  /* background: linear-gradient(to bottom, #999999, #eeeeee); */
    border-radius: 12px;
    padding: 30px;
    position: relative;
    height: 350px;
    transition: background 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        /* filter: grayscale(1);
    opacity: 0.8; */
    transition: filter 0.3s ease-in-out, opacity 0.3s;
}

/* images for collobrated brands */
.ex-cd-1 {
  background: url(image/sprite-img.jpg) no-repeat center center;
  background-size: cover;
}

.ex-cd-2{
  background: url(image/shan-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-3{
  background: url(image/philips-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-4{
  background: url(image/fruit-nation-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-5{
  background: url(image/nescafe-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-6{
  background: url(image/bata-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-7{
  background: url(image/tapal-img.jpg) no-repeat center center;
  background-size: cover;
}
.ex-cd-8{
  background: url(image/dominos-img.jpg) no-repeat center center;
  background-size: cover;
}


.card-title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
/* 
.card-icon {
  background: url(image/sprite-img.jpg) no-repeat center center;
  background-size: cover; 
   text-align: center;
} */

.card-icon img {
  width: 48x;
  height: 48px;
  filter: grayscale(1);
  opacity: 0.8;
  transition: filter 0.3s ease-in-out, opacity 0.3s;
}

.extension-card:hover .card-icon img {
  filter: none;
  opacity: 1;
}

.card-btn {
  background-color: #F5BF21;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 5px 5px 15px;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.card-btn:hover {
  background-color: #FFFFFF;
}



.card-btn span {
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-btn span img {
  width: 24px;
  height: 24px;
}

/* End of Extensions Section */



/* Contact CTA Section */

.contact-cta {
  background: url(image/sec-cta-bg-img.png);
  background-size: cover;
  padding: 100px 0px;
  text-align: center;
  /* position: relative;
  overflow: hidden; */
}

/* .contact-cta::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#d4a900 1px, transparent 1px);
  background-size: 16px 16px;
  opacity: 0.2;
  pointer-events: none;
}

.contact-cta-wrapper {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
} */

/* .cta-heading {
  font-size: 70px;
    font-weight: 700;
    color: #000000;
}

.cta-subtext {
 max-width: 730px;
    margin: 0 auto;
    font-size: 18px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 30px;
} */


.cta-heading, .cta-subtext {
  white-space: pre-line;
  overflow: hidden;
   font-size: 70px;
    font-weight: 700;
    color: #000000;
}

.cta-subtext {
   max-width: 730px;
    margin: 0 auto;
   font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 30px;
}


.cta-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
  border-radius: 40px;
  overflow: hidden;
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* .cta-form:hover{
  transform: scale(1.05);
} */

.cta-form input[type="email"] {
  border: none;
  padding: 18px 20px;
  flex: 1;
  font-size: 18px;
  border-radius: 40px 0 0 40px;
  outline: none;
  color: #000;
}

.cta-form button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-form button:hover {
  background-color: #F5BF21;
}



/* End of Contact CTA Section */


/* start Footer */
.footer {
  background-color: #000;
    color: #fff;
    padding: 80px;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap; /* ❗ Prevent wrapping to keep Contact Us in the same row */
  justify-content: space-between;
  gap: 30px;
}

.footer-col {
  flex: 1;
  min-width: 250px; /* Ensure columns don't get too narrow */
}


.footer-about{
  margin-right: 80px;
}

.footer-about img.footer-logo {
  width: 200px;
  margin-bottom: 20px;
}

.footer-about p {
  margin: 10px 0;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.6;
}



.footer-col h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-col h3:hover{
  cursor: pointer;
  color: #F5BF21;
}

.footer-col p {
  font-size: 14px;
  margin-top: 15px;
  color: #FFFFFF;
}

.footer-col p:hover{
  cursor: pointer;
  color: #F5BF21;
}


.footer-about p:hover{
  cursor: default;
   color: #FFFFFF;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.social-icons a img {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    margin-top: 50px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15px;
  color: #FFFFFF;
}


/* --- Animations --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in animation to elements with .fade-in class when they become visible */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}





/* About-us page css */

.about-us-top-btn {
  text-decoration: none;
    background-color: #F5BF21;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px 5px 5px;
    margin-top: 40px;
}


.about-us-top-btn:hover {
  background-color: #FFFFFF;
}

.about-us-top-btn span {
  background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-us-top-btn span img {
  width: 24px;
    height: 24px;
    transform: rotate(280deg);
}


/* Hero Section About Us */
#sec-about-us-desc{
  margin-top: 20px;
}

.about-us-head-badge-top{
    background-color: #DFFA7A;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    left: 590px;
    bottom: 230px;
    transform: rotate(11.77deg);
}
.about-us-head-badge-left{
  background-color: #F57C3C;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    left: 410px;
    bottom: -110px;
    transform: rotate(-15.27deg);
}
.about-us-head-badge-right{
  background-color: #80ABFE;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    position: relative;
    left: 785px;
    /* bottom: 0px; */
    transform: rotate(18.3deg);

}

.about-us-hero{
  display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 0px 0px 0px 55px; */
}

.title-about-us{
    font-size: 50px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 60px;
    
}

.about-us-hero-title{
  font-size: 75px;
    font-weight: 800;
    line-height: 1;
    color: #FFFFFF;
    margin-top: 20px;
}

.about-us-subtitle{
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  width: 60%;
  margin-top: 20px;
}

.about-us-subtitle-highlight{
  color: #F5BF21;
}


.about-us-subtitle-description{
  font-size: 28px;
    font-weight: 400;
    color: #FFFFFF;
    width: 65%;
    margin-top: 60px;
} 


/* testing area */


.testimonial-box {
  display: flex;
    align-items: center;
    gap: 0px 20px;
    padding: 20px;
    color: #fff;
    margin: 60px 0px;
}

.avatars {
  display: flex;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  object-fit: cover;
  margin-left: -15px;
  animation: popIn 0.6s ease forwards;
  /* opacity: 0; */
   animation-play-state: paused;
}

/* .avatar {
  animation-play-state: paused;
} */

/* .star img {
  animation-play-state: paused;
} */


.avatar:nth-child(1) {
  animation-delay: 0.2s;
}
.avatar:nth-child(2) {
  animation-delay: 0.4s;
}
.avatar:nth-child(3) {
  animation-delay: 0.6s;
}

.rating-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stars {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.star img {
  width: 24px;
  height: 24px;
  /* opacity: 0;
  transform: scale(0.5); */
  animation: shine 0.5s ease-in forwards;
  animation-play-state: paused;
}

.star:nth-child(1) img {
  animation-delay: 0.3s;
}
.star:nth-child(2) img {
  animation-delay: 0.5s;
}
.star:nth-child(3) img {
  animation-delay: 0.7s;
}
.star:nth-child(4) img {
  animation-delay: 0.9s;
}
.star:nth-child(5) img {
  animation-delay: 1.1s;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

/* Animations */
@keyframes popIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shine {
  to {
    opacity: 1;
    transform: scale(1);
  }
}



/* testing completed */
  

.about-us-hero-right{
  width: 30%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.about-us-hero-right .ceo-image{
  width: 750px;
}


/* section about us description */

.sec-about-us-desc-head{
  font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
}

.sec-about-us-desc-head-desciption{
  font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-top: 50px;
}




/* about-us bottom  */

.sec-about-us-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0px;
}


.about-us-btn{
  text-decoration: none;
  background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 5px 5px 15px;
}

.about-us-btn:hover{
  background-color: #F5BF21;
  color: #000;
}


.about-us-btn span {
  background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-us-btn span img {
  width: 24px;
    height: 24px;
  
}


.sec-about-us-bottom-logo{
  width: 260px;
  height: auto;
}

.sec-about-us-bottom-logo img{
  width: 100%;
}






/* Our Success Story page css */


/* Hero Section About Us */


.title-our-success-story{
    font-size: 70px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 60px;
    white-space: pre-wrap; /* preserve spacing */
    
}


.our-success-story-subtitle{
  font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
    width: 85%;
    /* text-transform: capitalize; */
    white-space: pre-wrap; /* preserve spacing */
}


.our-success-story-subtitle-2{
  font-size: 35px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 30px;
    width: 95%;
    white-space: pre-wrap; /* preserve spacing */
}

.our-success-story-subtitle-3{
  font-size: 35px;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 30px;
    width: 80%;
    white-space: pre-wrap; /* preserve spacing */
} 
  
/* for bubble effect each letter */

.letter {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
  cursor: default;
}

.letter:hover {
  transform: scale(1.4);
  z-index: 10;
}

.letter::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  /* background-color: rgba(241, 179, 20, 0.3); */
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
}

.letter:hover::after {
  width: 130%;
  height: 130%;
}


/* about-us bottom  */

.sec-our-success-story-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 70px 0px; */
}

.about-us-btn{
  background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 5px 5px 15px;
}

.about-us-btn:hover {
  background-color: #F5BF21;
}

.about-us-btn span {
  background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-us-btn span img {
  width: 24px;
    height: 24px;
  
}


.sec-about-us-bottom-logo{
  width: 260px;
  height: auto;
}

.sec-about-us-bottom-logo img{
  width: 100%;
}



/* Our Services Pags CSS */

.our-services-inner-header {
  background: url(image/our-services-page-bg.png)  no-repeat center center;
  background-size: cover;
    width: 100%;
    border-radius: 12px;
}


.our-services-top-btn {
  text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px 5px 5px;
    margin-top: 40px;
}

.our-services-top-btn:hover{
  background-color: #F5BF21;
}



.our-services-top-btn span {
  background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.our-services-top-btn span img {
  width: 24px;
    height: 24px;
    transform: rotate(280deg);
}



.title-our-services{
    font-size: 70px;
    font-weight: 800;
    color: #000000;
    margin-top: 60px; 
    white-space: pre-wrap; /* preserve spacing */
}

.title-our-services-desc{
  font-size: 35px;
    font-weight: 200;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    width: 80%;
    white-space: pre-wrap; /* preserve spacing */
}


/* button section */

.sec-our-services-btns {
  display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    width: 85%;
    padding: 70px 0px 110px 0px;
}

.services-btn {
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
  border-radius: 16px;
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.services-btn:hover {
  transform: scale(1.05);
  background-color: #F5BF21;
  color: #000;
  cursor: pointer;
}


.target-image {
  display: block;
  max-width: 100%;
  transition: transform 0.3s ease;
}



/* All Brands Paegs */

.brand-activity {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.activity-header h2 {
  font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.activity-header p {
  font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.go-back-btn {
  background-color: #F5BF21;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 15px 5px 5px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.go-back-btn:hover {
  /* background-color: #000000;
  color: #ffffff; */
  transform: scale(1.05);
}

.go-back-btn span {
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .go-back-btn:hover span {
  background-color: #FFFFFF;
} */

.go-back-btn span img {
  width: 24px;
  height: 24px;
  transform: rotate(280deg);
}


.activity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  margin-top: 40px;
  perspective: 1000px;
}

.grid-item {
  background-color: #efd999;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.grid-item img {
  width: 370px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  backface-visibility: hidden;
  will-change: transform, opacity, filter;
}

.grid-item img:hover{
  box-shadow: 0 6px 16px rgba(174, 173, 160, 0.4);
}




/* go back home fixed screen button  */

.go-home-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  z-index: 9999;
}

.go-home-btn:hover {
  background-color: #F5BF21;
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 255, 255, 0.4);
}

.go-home-btn img {
  width: 40px;
  height: 40px;
 animation: blink-move-down 1s infinite ease-in-out;
}

.go-home-btn.visible {
  display: none;
  opacity: 1;
  pointer-events: auto;
}


@keyframes blink-move-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(10px); /* adjust for how far down it moves */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}







/* .cta-heading {
 
}

.cta-subtext {

    font-size: 18px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 30px;
} */






/* --- Responsive Design --- */

/* For screens smaller than 1024px (e.g., larger tablets, small laptops) */
@media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    .navbar-menu {
        gap: 20px;
    }

    .hero {
        flex-direction: column;
        padding: 0 20px;
        /* text-align: center; */
    }

    .hero__left {
        width: 100%;
        margin-bottom: 40px;
    }

    .hero__title {
        font-size: 80px;
        margin-top: 30px;
        position: static; /* Remove absolute positioning for better flow */
    }

    .brand-riser {
        margin-left: 30;
        display: block; /* Ensure it takes full width */
    }

    /* .head-badge-left,
    .badge-right {
        position: static; /* Remove absolute positioning 
        transform: none;
        margin: 10px auto;
        display: inline-block;
    } */

    .hero__subtitle,
    .hero__description {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn--secondary {
        margin: 30px auto;
    }

    .hero__right {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }

    .ceo-image {
        width: 100%;
        max-width: 500px; /* Limit max width for larger screens */
        position: static;
        left: auto;
    }

    .ceo-card {
        position: static; /* Remove absolute positioning */
        margin: 20px auto;
        right: auto;
        bottom: auto;
        width: 80%; /* Adjust width for better fit */
        max-width: 300px;
    }

    .card-bottom-angle {
        position: static;
        top: auto;
        right: auto;
        margin-top: 20px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .footer-container {
        flex-wrap: wrap; /* Allow wrapping on smaller screens */
        justify-content: center;
        text-align: center;
    }

    .footer-col {
        min-width: unset; /* Remove min-width constraint */
        width: 100%; /* Take full width on smaller screens */
        margin-right: 0;
        margin-bottom: 30px;
    }

    .footer-about {
        margin-right: 0;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-bottom {
        gap: 10px;
    }

    /* About Us Page */
    .about-us-hero {
        flex-direction: column;
        /* text-align: center; */
    }

    .about-us-hero-right {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }

    .about-us-hero-right .ceo-image {
        width: 100%;
        max-width: 500px;
    }

    .about-us-head-badge-top,
    .about-us-head-badge-left,
    .about-us-head-badge-right {
        position: static;
        transform: none;
        margin: 10px auto;
        display: inline-block;
    }

    .title-about-us,
    .about-us-hero-title,
    .about-us-subtitle,
    .about-us-subtitle-description {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .sec-about-us-bottom {
        gap: 20px;
    }

    /* Services Page */
    .title-our-services,
    .title-our-services-desc {
        width: 100%;
    }
    .sec-our-services-btns {
        width: 100%;
        justify-content: center;
    }

    /* Brand Pages */
    .activity-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjust minmax for smaller screens */
    }
    .grid-item img {
        width: 100%;
        height: auto;
        max-height: 400px; /* Limit height */
    }
}

/* For screens smaller than 768px (e.g., tablets portrait, larger phones) */
@media (max-width: 768px) {


    .navbar {
    padding: 15px 20px;
    flex-wrap: wrap; /* Allow items to wrap */
    position: relative;
    z-index: 100;
  }

  .navbar-menu {
    display: none; /* Hide by default on small screens */
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: wheat; /* Background for dropdown menu */
    position: absolute;
    top: 100%; /* Position below navbar */
    left: 0;
    padding: 20px 0px 60px 0px;;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .navbar-menu.menu-open {
    display: flex; /* Show when menu-open class is active */
    animation: slideDown 0.3s ease-out forwards;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-button {
    display: none; /* Hide by default */
    text-align: center;
    background-color: #F5BF21;
    position: absolute;
    top: calc(100% + 150px); /* Adjust based on navbar-menu height */
    left: 308px;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .navbar-button.menu-open {
    display: flex; /* Show when menu-open class is active */
    animation: slideDown 0.3s ease-out forwards;
    top: calc(100% + 180px);
  }

  .navbar.nav-expanded .navbar-button {
    top: calc(100% + 285px); /* Adjust as needed */
  }

  .navbar-button {
      font-size: 14px;
      padding: 4px 4px 4px 14px;
      margin: 15px auto;
  }

   .navbar-button span {
        width: 35px;
        height: 35px;
    }

    .navbar-button span img {
        width: 20px;
        height: 20px;
    } 

  .menu-toggle {
    display: flex; /* Show toggle button */
  }


  

    .hero__title {
        font-size: 60px;
    }

    .hero__subtitle,
    .hero__description {
        font-size: 18px;
    }

    .btn--secondary {
        font-size: 14px;
        padding: 4px 4px 4px 12px;
    }

    .btn--secondary span {
        width: 35px;
        height: 35px;
    }

    .btn--secondary span img {
        width: 20px;
        height: 20px;
    }

    .foundation-section {
        height: auto; /* Allow height to adjust based on content */
        padding-bottom: 50px;
    }

    .foundation-heading {
        font-size: 32px;
    }

    .foundation-subheading {
        font-size: 14px;
    }

    .foundation-cards {
        flex-direction: column; /* Stack cards vertically */
        gap: 20px;
    }

    .foundation-card {
        flex: 1 1 100%; /* Take full width */
        padding: 25px;
    }

    .services-text h2 {
        font-size: 32px;
    }

    .services-text p {
        font-size: 18px;
    }

    .extension-grid {
        grid-template-columns: 1fr; /* Single column for brand cards */
    }

    .extension-card {
        height: 280px; /* Adjust height for smaller screens */
        padding: 20px;
    }

    .card-title {
        font-size: 32px;
    }

    .cta-heading {
        font-size: 45px;
    }

    .cta-subtext {
        font-size: 16px;
    }

    .cta-form {
        flex-direction: column; /* Stack form elements */
        max-width: 90%;
        border-radius: 10px;
    }

    .cta-form input[type="email"] {
        border-radius: 10px;
        text-align: center;
        padding: 15px 20px;
    }

    .cta-form button {
        border-radius: 10px;
        width: calc(100% - 10px); /* Adjust width to fit container with margin */
        margin: 5px;
        padding: 15px 20px;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-col {
        margin-bottom: 20px;
        width: 100%;
    }

    /* About Us Page */
    .title-about-us {
        font-size: 40px;
    }

    .about-us-hero-title {
        font-size: 55px;
    }

    .about-us-subtitle {
        font-size: 24px;
    }

    .about-us-subtitle-description {
        font-size: 20px;
    }

    .testimonial-box {
        gap: 10px;
        margin: 40px auto;
        text-align: center;
    }

    .avatars {
        justify-content: center;
        margin-bottom: 10px;
    }


    .sec-about-us-desc-head {
        font-size: 32px;
    }

    .sec-about-us-desc-head-desciption {
        font-size: 24px;
    }

    /* Success Story Page */
    .title-our-success-story {
        font-size: 50px;
    }

    .our-success-story-subtitle,
    .our-success-story-subtitle-2,
    .our-success-story-subtitle-3 {
        font-size: 28px;
        width: 100%;
    }

    /* Services Page */
    .title-our-services {
        font-size: 50px;
    }

    .title-our-services-desc {
        font-size: 28px;
    }

    .sec-our-services-btns {
        padding: 40px 0px 80px 0px;
    }

    .services-btn {
        font-size: 18px;
        padding: 15px 20px;
    }

    /* Go Home Button */
    .go-home-btn {
        padding: 8px;
        bottom: 15px;
        right: 15px;
    }
    .go-home-btn img {
        width: 30px;
        height: 30px;
    }

}

/* For screens smaller than 480px (e.g., small mobile devices) */
@media (max-width: 480px) {

    .navbar-logo {
        font-size: 18px;
    }

    .navbar-menu{
      padding: 45px 0px 75px 0px;
    }

    .navbar.nav-expanded .navbar-button {
    top: calc(100% + 315px); /* Adjust as needed */
  }

    .navbar-button{
      left: 125px;
    }
 

     .navbar-button span {
        width: 30px;
        height: 30px;
    }

    .navbar-button span img {
        width: 18px;
        height: 18px;
    } 

    .hero{
      gap: 0px;
    }

    .hero__left{
      margin-bottom: 0px;
    }

    .hero__right{
      margin-top: 0px;
    }

    .hero__title {
        font-size: 50px;
    }

    .brand-riser{
      margin-left: 30px;
    }

    .hero__subtitle,
    .hero__description {
        font-size: 16px;
    }

    .head-badge-left{
      padding: 4px 8px;
        font-size: 14px;
        top: -55px;
        left: 50px;
    }

    .head-badge-left p{
      font-size: 10px;
    }

    .btn--secondary{
      font-size: 12px;
      padding: 3px 3px 3px 12px;
    }

    .btn--secondary span {
      width: 30px;
      height: 30px;
    }

    .btn--secondary span img {
      width: 20px;
      height: 20px;

    }

    .badge-right {
      padding: 4px 8px;
        font-size: 9px;
        top: 360px;
        left: 145px;
    }

    .ceo-image{
      position: relative;
      left: 120px;
    }

    .ceo-card {
        position: relative;
        right: 230px;
        bottom: 0px;
        width: 100%;
        height: 170px;
        max-width: 300px;
        padding: 10px;
    }

    .card-title-icon{
      gap: 15px;
    }

    .ceo-card-icon{
      width: 50px;
    }
    .ceo-card__name {
        font-size: 22px;
    }

    .ceo-btn-1, .ceo-btn-2 {
        font-size: 10px;
    }

    .card-bottom-angle{
      position: relative;
        top: 165px;
        right: 290px;
    }

    .card-bottom-angle .cd-btm-1{
      width: 35px;
    }

    .trusted-label {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .logo-track img {
        max-height: 60px;
        max-width: 100px;
    }

    .foundation-heading {
        font-size: 28px;
    }

    .foundation-subheading {
        font-size: 13px;
    }

    .foundation-card h3 {
        font-size: 24px;
    }

    .foundation-card p {
        font-size: 14px;
    }

    .services-text h2 {
        font-size: 28px;
    }

    .services-text p {
        font-size: 16px;
    }

    .see-more-btn {
        font-size: 12px;
        padding: 3px 3px 3px 10px;
    }

    .see-more-btn span {
        width: 30px;
        height: 30px;
    }

    .see-more-btn span img {
        width: 18px;
        height: 18px;
    }

    .extension-heading {
        font-size: 24px;
    }

    .extension-card {
        height: 250px;
    }

    .card-title {
        font-size: 28px;
    }

    .card-btn {
        font-size: 12px;
        padding: 3px 3px 3px 10px;
    }

    .card-btn span {
        width: 30px;
        height: 30px;
    }

    .card-btn span img {
        width: 18px;
        height: 18px;
    }

    .cta-heading {
        font-size: 35px;
    }

    .cta-subtext {
        font-size: 14px;
        padding: 15px 15px 30px;
    }

    .cta-form input[type="email"],
    .cta-form button {
        font-size: 16px;
        padding: 12px 15px;
    }

    .footer {
        padding: 30px 15px;
    }

    .footer-col h3 {
        font-size: 20px;
    }

    .footer-col p,
    .footer-bottom {
        font-size: 13px;
    }

    .social-icons a img {
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }

    /* About Us Page */
    .title-about-us {
        font-size: 35px;
    }

    .about-us-hero-title {
        font-size: 45px;
    }

    .about-us-subtitle {
        font-size: 20px;
    }

    .about-us-subtitle-description {
        font-size: 18px;
        margin-top: 20px;
    }

    .testimonial-box {
        padding: 10px;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }

    .star img {
        width: 20px;
        height: 20px;
    }

    .text {
        font-size: 16px;
    }

    .about-us-hero-right .ceo-image{
      position: relative;
        left: 5px;
        width: 100%;
    }
    

    .sec-about-us-desc-head {
        font-size: 28px;
    }

    .sec-about-us-desc-head-desciption {
        font-size: 20px;
        margin-top: 20px;
        
    }

    .about-us-btn {
        font-size: 10px;
        padding: 4px 4px 4px 12px;
    }

    .about-us-btn span {
        width: 35px;
        height: 35px;
    }

    .about-us-btn span img {
        width: 20px;
        height: 20px;
    }

    .sec-about-us-bottom-logo {
        width: 200px;
    }

    /* Success Story Page */
    .title-our-success-story {
        font-size: 40px;
    }

    .our-success-story-subtitle,
    .our-success-story-subtitle-2,
    .our-success-story-subtitle-3 {
        font-size: 24px;
    }

    .sec-our-success-story-bottom{
      flex-direction: column;
        padding: 0px 0px 40px 0px;
    }

    /* Services Page */
    .title-our-services {
        font-size: 40px;
    }

    .title-our-services-desc {
        font-size: 24px;
    }

    .services-btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .brand-activity {
        padding: 40px 15px;
    }

    .activity-header h2 {
        font-size: 25px;
    }

    .activity-header p {
        font-size: 12px;
    }

    .go-back-btn {
        font-size: 12px;
        padding: 4px 12px 4px 4px;
    }

    .go-back-btn span {
        width: 30px;
        height: 30px;
    }

    .go-back-btn span img {
        width: 18px;
        height: 18px;
    }

    .activity-grid {
        gap: 20px;
    }

    .grid-item {
        height: 350px;
    }

    .grid-item img {
        max-height: 350px;
    }
}





/* Animation for mobile menu dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}